<div  class="container">
          <div class="row">
            <div class="col-lg-2">
                
            </div>
            <div class="col-lg-8">
                <img src="../../../assets/img/img9.jpg" class="img-fluid" >
            </div>
            <div class="col-lg-2">
               
            </div>
        </div>
        <br>



          <h3> ¿Como se encuentra?</h3>
          <hr>
        <!---fin del menu-->
        <div class="row">
          <div class="col-lg-6">
        <h5 class="text-primary"> Sintomas (Si aplica)</h5>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Fiebre mayor a 38 grados
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Dolor de garganta
            </label>
          </div>

          

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Congestión nasal
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Tos
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Dificultad para respirar
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Fatiga
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Escalofrío
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Dolor abdominal
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Pérdida del olfato
            </label>
          </div>
          <br> <hr>

          <h5 class="text-primary"> Riesgo de contagio (Si aplica)</h5>
          <br> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Actualmente se encuentra en aislamiento por COVID-19
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Estuvo en contacto con una persona con COVID-19
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Estuvo en contacto con una persona con síntomas
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Hizo un viaje internacional en los últimos 30 días
            </label>
          </div>

<br>
            <br>
         <button type="button" id="btnProcesor" class="btn  border btn-outline-primary" onclick="procesar()" >Aceptar</button>
        </div>
        <div class="col-lg-6">
          <img src="../../../assets/img/imgcovid19.jpg" class="img-fluid" >

      </div>
      </div>
    </div>
