<div class="container">



    <br>



    <!--- inicio del menu-->



    <nav class="nav navbar-dark nav-pills flex-column flex-sm-row ">




            <a class="flex-sm-fill text-sm-center nav-link  btn-outline-primary" routerLink="/Inicio"><h3>INICIO</h3></a>




            <a class="flex-sm-fill text-sm-center nav-link btn-outline-primary" routerLink="/QuienesSomos"> <h5>¿QUIENES SOMOS?</h5></a>




            <a class="flex-sm-fill text-sm-center nav-link btn-outline-primary" routerLink="/NuestroServicio"><h5>NUESTROS SERVICIOS</h5></a> <br>



       



            <a class="flex-sm-fill text-sm-center nav-link btn-outline-primary" routerLink="/NuestroEquipo"><h5>NUESTRO EQUIPO</h5></a> <br>



       



            <a class="flex-sm-fill text-sm-center nav-link btn-outline-primary" routerLink="/Noticias"><h5>NOTICIAS</h5></a>

       



            <a class="flex-sm-fill text-sm-center nav-link btn-outline-primary" routerLink="/Registrate"><h5>REGISTRATE</h5></a>

           

       

    </nav>



   



</div>



<br>
