<div class="container">
<br>
            <!---fin del menu-->

            <div class="row">
            <div class="col-lg-12">
                <img src="../../../assets/img/img4.jpg" class="img-fluid">
                <br>
            <br>
            
            </div>
            </div>
            

            <h1 class = "text-primary text-center">Ultimas publicaciones <br>
                <br> </h1>
            
            <h2 class = "text-dark">Derechos y deberes de los pacientes.</h2><br>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class = "text-primary">Derechos:</h3>
                    
                   <p>1. Su derecho a elegir libremente al médico y en general a los profesionales de la salud,como también a las instituciones de salud que le presten la atención requerida, dentro de los recursos disponibles del país y acceder a los servicios sin que se le impongan tramites adicionales a los de ley.
                   </p>
                   
                   <p>2. Su derecho de disfrutar de una comunicación plena y clara con el médico, apropiados a sus condiciones psicológicas y culturales que le permitan obtener toda la información necesaria respecto a la enfermedad que padece el paciente.
                    </p>
                    
                  <p>3. Su derecho a recibir un trato digno, respetando las creencias y costumbres, así como las    opiniones personales que tenga sobre la enfermedad que sufre. 
                    </p>
                    <br>
                    <h3 class = "text-primary">Deberes:</h3>
            
                    <p>1.  El usuario o su representante, tiene el deber de suministrar la información necesaria requerida por la Institución, para la realización de los procedimientos.
                         </p>
                         
                       <p>2. El usuario tiene el deber de solicitar información sobre los temas de funcionamiento de la Institución y los canales de comunicación. 
                           </p>
                           
                      <p>3. Se espera que los usuarios y familiares cuiden los artículos valiosos y personales. (La Institución no puede asumir responsabilidad de sus artículos personales).
                           </p>
                  </div>
                
                 <div class="col-lg-6">
                    <img src="../../../assets/img/img16.jpg" class="img-fluid">
                    <img src="../../../assets/img/img20.png" class="img-fluid">
                   
                 </div>
                 
            </div>
           
           <hr>
           <br>
           <h2 class = "text-dark">¿Qué son las asociaciones de usuarios de la  salud</h2>
               <br>
               <div class="row">
                <div class="col-lg-6">
                    <h3 class = "text-primary">Organización:</h3>
               <p>A través de una convocatoria a asamblea general que realizan las instituciones de salud, sean públicas, privadas o mixtas, a todos los usuarios que hayan hecho uso del servicio durante el último año, para su respectiva constitución. Las asociaciones se constituirán con un número plural de usuarios y podrán obtener reconocimientos en las notarías o cámaras de comercio. <br>
               La asociación será de carácter abierto para garantizar permanentemente el ingreso de nuevos usuarios. Además debe elaborar su propio reglamento de funcionamiento, en donde debe prever la organización interna como miembros directivos y comités de trabajo de acuerdo a las necesidades y temas a tratar.
             </p>
                  </div>
                
                 <div class="col-lg-6">
                    <img src="../../../assets/img/img18.jpg" class="img-fluid">
                 </div>
                 
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class = "text-primary">Funciones:</h3>
                    <p>1. Asesorar a sus asociados en la libre elección de la Clinica.
                    </p>
                    
                    <p>2. Participar en las juntas directivas de las instituciones prestadoras de salud para proponer y concertar las medidas necesarias para mantener y mejorar la calidad de los servicios y atención al usuario.
                    </p>
                    
                    <p>3. Mantener canales de comunicación con los afiliados que les permita conocer sus inquietudes y demandas para hacer propuestas ante las juntas directivas de la institución prestadora de servicios de salud y la Clinica.
                    </p> 
                </div>

                <div class="col-lg-6">
                    <img src="../../../assets/img/img19.jpg" class="img-fluid">
                </div>
    
            </div>
              

            
            
        
        
    </div>
