
<div class="container">
    <br>

            <h2 class = "text-black text-center"> NUESTRO EQUIPO </h2>
    
            <br>
            

             <!--inicio grilla de 4x3 para mostrar 3 imagenes de los doctores-->
            <div class="row">
                <div class="col-lg-4">
                     <img src="../../../assets/img/img3.jpg" class="img-fluid">
                  </div>
                
                 <div class="col-lg-4">
                    <img src="../../../assets/img/img5.jpg" class="img-fluid">
                 </div>
                 <div class="col-lg-4">
                    <img src="../../../assets/img/img6.jpg" class="img-fluid">
                 </div>
            </div>
            <!--fin grilla de 4x3-->

               <br>
        <!--- tabla de 4 filas x 2 columnas para mostrar nombre y especialida de cada doctor-->
               <table class="table table-info border-secondary ">

                <tr>
                    <th> <h4>Nombre Medico</h4></th>
                    <th> <h4>Especialidad</h4> </th>
                    
                </tr>
                
                <tr>
                    <td><h6>Dr. Fredy Osorio Donado.</h6></td>
                    <td><h6>Oncología Clínica</h6></td>
                    
                    
                </tr>
                
                <tr>
                
                    <td><h6>Dr. Ricardo Romero Villa.</h6></td>
                    <td><h6>Medicina Interna y Hematología</h6></td>
                    
                </tr>
                
                <tr>
                
                    <td><h6>Dra. Sol Palacios Iriarte.</h6></td>
                    <td><h6>Medicina Externa y Hepatología</h6></td>
                    
                </tr>
                <tr>
                
                    <td><h6>Dr. Bryan Fernandez Ebrath.</h6></td>
                    <td><h6>Medicina Especializada</h6></td>
                    
                </tr>
                <tr>
                
                    <td><h6>Dr. Omar Marenco Ruiz.</h6></td>
                    <td><h6>Consulta Especializada </h6></td>
                    
                </tr>
    
    
    
            </table>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <img src="../../../assets/img/img14.jpg" class="img-fluid">
                </div>
    
            </div>
            
         </div> 
