<div class="container">

    <div class="row">
        <div class="col-lg-2">
        </div> 
    
        <div class="col-lg-8">
          <img src="../../../assets/img/img7.jpg" class="img-fluid">
        </div>
        <div class="col-lg-2">
        
      
        </div>
      </div>
      <br>
      <h3 class="text-primary">Formulario de Registro</h3>
      <br>
  
      <div class="row">
        <div class=" col-lg-6 ">
          <form name="registro" id="miForm" autocomplete="off">
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <input type="text text-dark" class="form-control border border-primary " placeholder="Nombres*" aria-label="Nombres*"
                    id="tNombre">
                </div>
                <div class="col">
                  <input type="text" class="form-control text-dark border border-primary" placeholder="Apellidos*" aria-label="Apellidos*"
                    id="tApellido">
                </div>
              </div>
              <br>
              <label for="txtEmail" class="form-label text-black "><h6>Correo Electronico*</h6> </label>
              <input type="email" class="form-control border border-primary" id="Correo1" aria-describedby="emailHelp">
              <div class="form-text text-danger">*Nunca compartiremos tu correo electronico con nadie mas.</div>
            </div>
  
            <div class="mb-3">
              <label for="txtelefono" class="form-label text-black"><h6>Telefono*</h6> </label>
              <input type="number" class="form-control border border-primary" id="nTelefono" aria-describedby="emailHelp">
            </div>
  
            <br>
            <h6> Tipo de documento</h6>
  
            <div class="col-sm-10">
              <div class="form-check  text-black">
                <input class="form-check-input" type="radio" id="radio1" name="nombreradio" value="Cedula" >
                <label class="form-check-label" for="gridRadios1">
                  Cedula
                </label>
              </div>
            </div>
            <div class="form-check text-black">
              <input class="form-check-input" type="radio" id="radio2" name="nombreradio" value="Cedula de Extrangeria">
              <label class="form-check-label" for="gridRadios2">
                Cedula de Extrangeria
              </label>
  
            </div>
  
            <div class="form-check text-black">
              <input class="form-check-input" type="radio" id="radio3" name="nombreradio" value="Tarjeta de Identidad">
              <label class="form-check-label" for="gridRadios3">
                Tarjeta de Identidad
              </label>
  
            </div>
  
            <div class="form-check text-black">
              <input class="form-check-input" type="radio" id="radio4" name="nombreradio" value="Otro">
              <label class="form-check-label" for="gridRadios4">
                Otro
              </label>
  
            </div>
  
  
  
            <br>
  
            <div class="mb-3">
              <label for="txtnumerodoc " class="form-label text-black">
                <h6>Numero de Documento</h6>
              </label>
              <input type="number" class="form-control border border-primary" id="tDocumento">
            </div>
  
            
  
            <br>
            <button type="button" id="btnRegistrar" value="Mostrar" class="btn btn-outline-primary"
              onclick="Registro()">Registrar</button>
  
           
  
          </form>
  
          <br>
  
  
  
  
        </div>
        
       
        <div class=" col-lg-6  ">
          <img src="../../../assets/img/img21.jpg" class="img-fluid">
          
      
        </div>
  
  
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <img src="../../../assets/img/img22.jpg" class="img-fluid">
        </div> 
    
        
    </div>
    </div>
