<div class="container">

  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      <img src="../../../assets/img/img7.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2">


    </div>
  </div>
  <br>
  <h3 class="text-primary">Formulario de Registro</h3>
  <br>

  <div class="row">
    <div class=" col-lg-6 ">
      <form name="registro" id ="myform" autocomplete="off">
        <div class="mb-3">
          <div class="row">
            <div class="col">
              <input [(ngModel)] ="userInfo.tNombre" name="first" type="text text-dark" class="form-control border border-primary " placeholder="Nombres*"
                aria-label="Nombres*">
            </div>
            <div class="col">
              <input [(ngModel)] ="userInfo.tApellido" name="first" type="text" class="form-control text-dark border border-primary" placeholder="Apellidos*"
                aria-label="Apellidos*" >
            </div>
          </div>
          <br>
          <label for="txtEmail" class="form-label text-black ">
            <h6>Correo Electronico*</h6>
          </label>
          <input [(ngModel)] ="userInfo.Correo1" name="first" type="email" class="form-control border border-primary" aria-describedby="emailHelp">
          <div class="form-text text-danger">*Nunca compartiremos tu correo electronico con nadie mas.</div>
        </div>

        <div class="mb-3">
          <label for="txtelefono" class="form-label text-black">
            <h6>Telefono*</h6>
          </label>
          <input [(ngModel)] ="userInfo.nTelefono" name="first" type="number" class="form-control border border-primary" aria-describedby="emailHelp">
        </div>

        <br>
        <h6> Tipo de documento</h6>

        <div class="col-sm-10">
          <div class="form-check  text-black">
            <input [(ngModel)] ="userInfo.radio"  [ngModelOptions]="{standalone: true}" class="form-check-input" type="radio"   value="Cedula">
            <label class="form-check-label" for="gridRadios1">
              Cedula
            </label>
          </div>
        </div>
        <div class="form-check text-black">
          <input [(ngModel)] ="userInfo.radio"  [ngModelOptions]="{standalone: true}" class="form-check-input" type="radio"   value="Cedula de Extrangeria">
          <label class="form-check-label" for="gridRadios2">
            Cedula de Extrangeria
          </label>

        </div>

        <div class="form-check text-black">
          <input [(ngModel)] ="userInfo.radio"  [ngModelOptions]="{standalone: true}" class="form-check-input" type="radio"   value="Tarjeta de Identidad">
          <label class="form-check-label" for="gridRadios3">
            Tarjeta de Identidad
          </label>

        </div>

        <div class="form-check text-black">
          <input [(ngModel)] ="userInfo.radio"  [ngModelOptions]="{standalone: true}" class="form-check-input" type="radio"   value="Otro">
          <label class="form-check-label" for="gridRadios4">
            Otro
          </label>

        </div>



        <br>

        <div class="mb-3">
          <label for="txtnumerodoc " name="first" class="form-label text-black">
            <h6>Numero de Documento</h6>
          </label>
          <input [(ngModel)] ="userInfo.nDocumento" name="first" type="number" class="form-control border border-primary" >
        </div>



        <br>
        <button type="button"  value="Mostrar" class="btn btn-outline-primary"
        (click) ="Registro()">Registrar</button>

        <button type="button"  value="Mostrar" class="btn btn-outline-danger" 
        (click) ="Limpiar()">Limpiar</button>



      </form>

      <br><br>



    </div>




    <div class=" col-lg-6 ">
      <img src="../../../assets/img/img21.jpg" class="img-fluid">



      <nav class="nav nav-pills flex-column flex-sm-row text-center bg-secundary  ">

        <a class="flex-sm-fill text-sm-center btn-outline-primary bg-secundary   border border-white" aria-current="page"
    
        routerLink="/EncuestaCovid19">
    
            <h1>ENCUESTA COVID-19</h1>
    
        </a>
    
    </nav>

    <br> 


    </div>

    <div class=" col-lg-4 ">
      <table class="table table-bordered border-secondary table-hover table-primary">
        <thead>
          <tr>
            <th class="text-black">#</th>
            <th class="text-primary">    NOMBRES   </th>
            <th class="text-primary">   APELLIDOS   </th>
            <th class="text-primary">   CORREO    </th>
            <th class="text-primary">   TELEFONO  </th>
            <th class="text-primary" >  TIPO DE DOCUMENTO   </th>
            <th class="text-primary">   NUMERO DE DOCUMENTO   </th>
            <th class="text-center text-black">Opcion</th>
            
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor = "let item of  newLsUser; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.tNombre}}</td>
            <td>{{item.tApellido}}</td>
            <td>{{item.Correo1}}</td>
            <td>{{item.nTelefono}}</td>
            <td>{{item.radio}}</td>
            <td>{{item.nDocumento}}</td>
            <td >
  
             <button type="button" (click)="delete(i)" class="btn btn-outline-warning">Borrar</button>
  
            </td>
          </tr>
        </tbody>
      </table>



    </div>


  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../assets/img/img22.jpg" class="img-fluid">
    </div>


  </div>
</div>
