<div class="container">
        <br>

        <div class="row">
            <div class="col-lg-4">
                <img src="" class="img-fluid" >
            </div>
            <div class="col-lg-4">
                <img src="../../../assets/img/Nuestros-servicios.png" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="" class="img-fluid" >
            </div>

        </div>
        <br> <br>

        <div class="row">
            <div class="col-lg-6">
                <h3 class = "text-black">Consulta Interna Especializada</h3>
                <p>1. Consulta de Hermatologia. </p>
                <p>2. Consulta de Medicina <br></p>
               <p>3. Consulta de Oncologia Clinica <br></p><br>

               <h3 class = "text-black">Consulta Externa Especializada</h3>
               <p>1. Quimioterapia </p>
               <p>2. Servicio Farmacéutico de medicamentos hemato oncológicos PBS y no PBS <br></p>

               <p>3. Central de Mezclas Oncológicas Certificada por el Invima en  BPE con servicio de adecuación de dosis de  medicamentos oncológicos</p><br><br>

               


            </div>
            

                <div class="col-lg-6">
                    <img src="../../../assets/img/img10.jpg" class="img-fluid">
                </div>

        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <h3 class = "text-black">Consulta  Especializada</h3>
               <p >1. Estudio de citometria de flujo en biopsia (Inmunotificacion)
                (PBS) - Estudio cromosomico en efermedades hematologicas (Citogenetico/Cariotipo)</p>
               <p >2. Lectura de patología</p><br>
               <h3 >Horario de atencion</h3>
                    <b class = "text-center">Hoy </b> 08:00 am - 12:30 pm -
                                01:30 pm - 06:00 pm<br>


            </div>
            

                <div class="col-lg-6">
                    <div class="ratio ratio-16x9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.2361065680057!2d-73.28988908588569!3d10.482044567426174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8ab71633653f1b%3A0xad9b7dfde9f46ac9!2sClinica.medicos.!5e0!3m2!1ses!2sco!4v1632161704052!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
                </div>

        </div>
        <br>
        <nav class="nav bg-secundary nav-pills flex-column flex-sm-row text-center ">

            <a class="flex-sm-fill text-sm-center bg-secundary btn-outline-primary text-secundary border border-white" aria-current="page"
        
            routerLink="/AgendaTuCita">
        
                <h1> AGENDA TU CITA</h1>
        
            </a>
        
        </nav>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <img src="../../../assets/img/img13.jpg" class="img-fluid">
            </div>

        </div>
  </div>
<br>
